.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.selected-date {
  background-color: #4285f4 !important;
  color: white !important;
}

.react-calendar {
  width: 380px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1em;
}

.react-calendar__month-view__weekNumbers {
  font-weight: bold;
  font-size: 0.75em;
  background-color: #f0f0f0;
  border-right: 1px solid #a0a096;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 0 0 auto;
  width: 2em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  padding: 6px;
  height: 100%;
}

.react-calendar__month-view__days {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr);
}

.react-calendar__month-view__days__day {
  padding: 0.5em;
  height: 50px;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__tile--active {
  background: #4285f4;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1a73e8;
}

.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.5em 0.5em;
  background: none;
}

.quarter-year-selector {
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border: 1px solid #a0a096;
  border-radius: 5px;
  overflow: hidden;
}

.year-row,
.quarter-row {
  display: flex;
}

.year-button,
.quarter-button {
  flex: 1;
  padding: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s;
}

.year-button:hover,
.quarter-button:hover {
  background-color: #e0e0e0;
}

.year-button.selected,
.quarter-button.selected {
  background-color: #4285f4;
  color: white;
}

.year-button:not(:last-child),
.quarter-button:not(:last-child) {
  border-right: 1px solid #a0a096;
}

.year-row {
  border-bottom: 1px solid #a0a096;
}

.selected-month {
  background-color: #90caf9; 
  color: white; 
}